/* font */
@font-face {
    font-family: 'WrestleFont';
    src: url('WrestleFont.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'WrestleFont';
}

/* background */
body {
    font-family: 'WrestleFont', Arial, sans-serif;
    background-color: #a90606;
    color: #000000; 
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    min-height: 100vh;
}

.menu-toggle {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #d62323;
    cursor: pointer;
    z-index: 9999;
}

.hamburger {
    width: 40px;
    height: 50px;
    transform: translate(25%, 55%);
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color:#ffffff;
    transition-duration: .25s;
}

.hamburger > span::before {
    content: '';
    top: -8px;
}

.hamburger > span::after {
    content:'';
    top: 8px;
}

/*-- animation for hamburger button -->*/
.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}

.sidebar {
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color:#282525;
}

.sidebar h3{
    color: #d01010;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color:#841717;
    border-right: 5px solid #888;
}

.content {
    text-align: center;
}

.links {
    text-align: center;
    padding: 2rem;
}


.sidebar .content h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sidebar .content p {
    color:#888;
}

@media (max-width: 1024px) {
.sidebar {
    max-width: 200px;
}
}

@media (min-width: 769px) {
.menu-toggle {
    display: block;
}
.content {
    margin-left: 0;
}
.sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    height: 100vh;
    transition: 0.2s linear;
}

.sidebar.is-active {
    left: 0;
}
}

.links h5 {
    text-align: center;
    transform: translate(30%, -50%);
    font-size: 40px;
    color: #000;
    margin-bottom: 20px;
}

.icons {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%, 0);
    z-index: 9999;

    display: grid;
    grid-template-columns: repeat(1, auto); 
    gap: 20px;
    padding: 20px;

    background: #841717; /* optional: looks good with tiger theme */
    border-radius: 20px;
}

.fb {
    color:#000000;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 100px;
}

.fb:hover {
    color:azure;
}

.x {
    color:#000000;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 100px;
}

.x:hover {
    color:azure;
}

.insta {
    color:#000000;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 100px;
}

.insta:hover {
    color:azure;
}

.tiktok {
    color:#000000;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 100px;
}

.tiktok:hover {
    color:azure;
}

.spotify-icon {
    width: 140px;
    height:140px;
    display: inline-block;
    transition: filter 0.2s;
}

/* Spotify hover */
.spotify:hover .spotify-icon {
    filter: invert(90%) sepia(20%) saturate(500%) hue-rotate(180deg);
}

.tiger {
    position: fixed;
    bottom: 10px; /* Distance from bottom */
    right: 800px; /* Distance from right */
    width: 800px; /* Adjust size as needed */
    height: auto;
}